<app-modificador-contador></app-modificador-contador>
<app-visor-contador></app-visor-contador>

<!-- <p>{{ 'hola mundo' | capitalize }}</p>

<p>{{ precio | currency:'EUR':'code' }}</p>
<p>{{ fechaActual | date:'d/M/y'}}</p>
<p>{{ precio | number:'21.1-3' }}</p>
<p>{{ 'mario' | uppercase }}</p>

<p>{{ 'mario'.toUpperCase() }}</p>
<p>{{ randomNum | percent:'1.1-2'}}</p>

<ul>
    <li *ngFor="let num of [1,2,3,4,5,6,7] | slice:1:3">
        {{num}}
    </li>
</ul>
{{ textoLargo | capitalize }}

<p>{{ prom | async }}</p> -->